doctype html
html(ng-app="controleTemp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src='/javascripts/angular.min.js')
    script(type="text/javascript",src='/javascripts/controllerStatus.js')
  body
    block content